@reference "../globals.css";

.container a {
    @apply text-red-600 hover:text-red-700 transition-colors;
}

.container ul {
    @apply list-disc ml-6;
}

.container ol {
    @apply list-decimal ml-6;
}

.container p {
    @apply pt-1;
}
